/*Общие стили*/

body {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.main-header {
	padding-bottom: 60px;

	background-color: #f4f7f9;
}

.header-top {
	margin-bottom: 45px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.header-top .container {
	display: flex;
}

.company-logo {
	width: 136px;
	height: 29px;
	padding: 13px 42px 0 42px;

	background-color: #ee3643;
	box-shadow: 0 5px 0 #b52933;
}

.company-logo svg {
	height: 17.5px;
}

.company-logo:hover {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 #9a212a;
}

.company-logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 #8e1e26;
}

.header-tools {
	display: flex;
}

.header-tools input {
	width: 270px;
	min-height: 100%;
	padding-left: 49px;
	padding-bottom: 2px;

	color: #000000;

	background-color: #293449;
	background-image: url(../img/icon-search.png);
	background-repeat: no-repeat;
	background-position: 17px 12px;
	border: none;
}

.header-tools a {
	padding-top: 12px;

	text-align: center;
	color: #ffffff;
}

.header-tools-active {
	background-color: #ee3643;
}

.header-tools-item {
	width: 131px;
	padding-left: 19px;
}

.header-tools input:hover,
.header-tools-item:hover {
	background-color: #212a3a;
}

.header-tools input:hover {
	background-image: url(../img/icon-search-hover.png);
}

.header-tools input:focus {
	background-color: #ffffff;
	background-image: url(../img/icon-search-focus.png);
	outline: none;
	border: none;
}

.header-tools-item:active {
	background-color: #161d29;
	opacity: 0.6;
}

.checkout-button-header {
	width: 150px;

	background-color: #63a63e;
}

.checkout-button-header:hover {
	background-color: #5fbb2d;
}

.checkout-button-header:active {
	background-color: #518534;
	opacity: 0.5;
}

.header-bookmarks {
	position: relative;
}

.header-bookmarks:before {
	content: "";

	position: absolute;
	top: 12px;
	left: 17px;

	width: 14px;
	height: 16px;

	background-image: url(../img/icon-bookmark.png);
	background-repeat: no-repeat;

	opacity: 0.3;
}

.header-bookmarks:hover:before {
	opacity: 1;
}

.header-basket {
	position: relative;
}

.header-basket:before {
	content: "";

	position: absolute;
	top: 12px;
	left: 17px;

	width: 15px;
	height: 15px;

	background-image: url(../img/cart-icon.png);
	background-repeat: no-repeat;

	opacity: 0.3;
}

.header-basket:hover:before {
	opacity: 1;
}


.header-middle {
	margin-bottom: 39px;
}

.header-middle .container {
	display: flex;
}

.main-title {
	width: 203px;
	margin: 0;
	margin-left: 52px;
	padding-top: 4px;

	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.header-contacts {
	width: 270px;
	margin-left: 71px;
	padding-left: 4px;
	padding-top: 4px;
}

.header-contacts a {
	position: relative;

	display: block;
	padding-top: 7px;
	padding-left: 61px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: 3px solid #ffffff;
}

.header-contacts a:before {
	content: "";

	position: absolute;
	left: 2px;

	width: 19px;
	height: 19px;

	background-image: url(../img/icon-phone.png);
	background-repeat: no-repeat;
}

.header-contacts p {
	margin: 0;
	padding-top: 12px;

	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-block {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 290px;
	margin-left: auto;
}

.personal-interface-button {
	padding-top: 14px;
	padding-bottom: 11px;

	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.personal-interface-button:hover {
	color: #ee3643;
}

.personal-interface-button:active {
	color: #b2b2b2;
}

.enter-button {
	position: relative;

	padding-left: 47px;
	padding-right: 24px;
	margin-left: 9px;
	margin-right: 12px;
}

.enter-button:before {
	content: "";

	position: absolute;
	top: 15px;
	left: 14px;

	width: 20px;
	height: 17px;

	background-image: url(../img/icon-login.png);
	background-repeat: no-repeat;
}

.enter-button:hover:before {
	background-image: url(../img/icon-login-hover.png);
}

.enter-button:active:before {
	background-image: url(../img/icon-login.png);
}

.sign-up-button {
	padding-left: 24px;
	padding-right: 24px;
}

.main-navigation {
	background-color: #32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation li:hover {
	background-color: #293449;
}

.site-navigation li:active {
	background-color: #1d2739;
	border-bottom-color: #1d2739;
}

.site-navigation a {
	display: block;
	padding: 20px 31px 23px 31px;

	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.site-navigation a:active {
	opacity: 0.5;
}

.main-footer {
	margin-top: 77px;

	background-color: #32425c;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 19px;

	font-size: 18px;
	line-height: 24px;
}

.footer-logo {
	width: 136px;
	height: 44px;
	padding-top: 19px;
}

.footer-logo svg {
	height: 25px;
}

.footer-site-navigation {
	margin-left: auto;
}

.footer-site-navigation ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 552px;
	margin: 0;
	padding: 0;
	padding-top: 17px;

	list-style: none;
}

.footer-site-navigation li {
	margin-right: 60px;
	margin-top: 20px;
}

.footer-site-navigation li:nth-child(5n) {
	margin-right: 0;
}

.footer-site-navigation a {
	display: block;

	color: #ffffff;
}

.footer-site-navigation a:hover,
.footer-services-navigation a:hover {
	text-decoration: underline;
}

.footer-site-navigation a:active,
.footer-services-navigation a:active {
	text-decoration: none;

	opacity: 0.5;
}

.footer-contacts {
	padding-left: 3px;
	padding-top: 3px;
}

.footer-contacts p,
.footer-contacts a {
	color: #ffffff;	
}

.footer-contacts p {
	margin: 0;
}

.footer-services-navigation ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 526px;
	margin: 0;
	padding: 0;
	padding-top: 3px;

	list-style: none;
}

.footer-services-navigation li {
	margin-right: 60px;
}

.footer-services-navigation li:nth-child(4n) {
	margin-right: 0;
}

.footer-services-navigation a {
	display: block;

	color: #ffd180;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 30px 0;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;

	background-color: #293449;
	color: #ffffff;
}

.footer-bottom .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.copyright {
	width: 227px;
	margin-top: 39px;
	margin-bottom: 35px;
}

.accounts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 134px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: 117px;

	list-style: none;
}

.social-btn a {
	display: block;
	width: 42px;
	height: 42px;
	margin-right: 4px;
	margin-bottom: 4px;

	background-repeat: no-repeat;
	background-color: #212a3a;
	background-position: 50% 50%;
	border-radius: 50%;
}

.social-btn a:last-child {
	margin-right: 0;
}

.social-btn a:hover {
	background-color: #ee3643;
}

.social-btn-vk a {
	background-image: url(../img/icon-vk.svg);
}

.social-btn-fb a {
	background-image: url(../img/icon-fb.svg);
}

.social-btn-in a {
	background-image: url(../img/icon-insta.svg);
}

.footer-feedback {
	width: 137px;
	margin-right: 53px;
}

.footer-developer {
	width: 98px;
	margin-right: 10px;
}

.footer-feedback a,
.footer-developer a {
	color: #ffd180;
}

.footer-adress:hover {
	text-decoration: underline;
}

.footer-adress:active {
	color: #ee3643;
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Главная страница*/

.main-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-company {
	display: flex;
	flex-direction: column;
	width: 519px;
	min-height: 380px;
}

.about-company h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.about-company p {
	margin: 0;
	padding: 0;

	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Arial, sans-serif;
}

.about-company .delivery-info {
	margin-top: 24px;
	margin-bottom: 1px;
}

.about-company ul {
	margin: 0;
	padding: 0;
	padding-left: 37px;
	margin-bottom: 17px;

	list-style: none;
}

.about-company li {
	position: relative;

	font-size: 18px;
	line-height: 20px;
	margin: 20px 0;
}

.about-company li:before {
	content: "";

	position: absolute;
	top: 10px;
	left: -38px;

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.main-info-button {
	padding: 10px 0;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 3px;
}

.main-info-button:hover {
	background-color: #ca2c37;
}

.main-info-button:active {
	background-color: #ba2732;
}

.info-button-about {
	width: 220px;
}

.contacts {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 380px;
}

.contacts h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;

	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	width: 179px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contacts img {
	margin-bottom: 32px;
}

.modal-map img {
	background-color: rgb(86, 86, 86);
	box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-feedback {
	border-top: 7px solid #ee3643;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback label {
	font-size: 18px;
	line-height: 18px;
}

.modal-feedback input,
.modal-feedback textarea {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	color: #999999;

	border: 2px solid #d7dcde;
	outline: none;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
	border: 2px solid #b5b5b5;
	outline: none;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
	border: 2px solid #ee3643;
	outline: none;
}

.feedback-bottom {
	background-color: #f4f4f4;
}

.feedback .button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	border: none;
}

/*Страница каталога*/

.working-interface {
	padding-left: 8px;
	margin-top: 7px;
}

.working-interface a {
	margin-right: 28px;

	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.working-interface a:hover {
	color: #ee3643;
}

.working-interface a:active {
	color: #b2b2b2;
}

.personal-interface {
	margin-top: 13px;
	padding-left: 37px;
}

.user-name-button {
	position: relative;

	font-size: 21px;
	line-height: 21px;
	color: #000000;

	background-color: #ffffff;
}

.user-name-button:before {
	content: "";

	position: absolute;
	top: 3px;
	left: -33px;

	width: 20px;
	height: 18px;

	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
}

.user-name-button:hover:before {
	background-image: url(../img/icon-user-hover.svg);
}

.user-name-button:active:before {
	background-image: url(../img/icon-user.svg);
}

.user-name-button:after {
	content: "";

	position: absolute;
	top: 4px;
	left: 222px;

	width: 20px;
	height: 18px;

	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
}

.user-name-button:hover:after {
	background-image: url(../img/icon-logout-hover.svg);
}

.user-name-button:active:after {
	background-image: url(../img/icon-logout.svg);
}

.user-name-button:active {
	color: #b2b2b2;
}

.exit-button {
	font-size: 0;
}

.breadcrumbs {
	position: relative;

	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 17px;

	list-style: none;
}

.breadcrumbs .index-icon {
	content: "";

	position: absolute;
	top: 6px;

	width: 14px;
	height: 12px;

	background-image: url(../img/icon-home.svg);
}

.breadcrumbs li {
	margin-right: 40px;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs a {
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.page-title {
	padding: 32px 0 34px 30px;

	font-size: 30px;
	line-height: 30px;
	color: #32425c;

	background-color: #f2f6f8;
}

.filters {
	width: 220px;
}

.filter fieldset {
	padding: 0;

	border: none;
}

.filter legend {
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
}

.filter label {
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
}

.show-button {
	padding: 9px 38px;

	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.catalog {
	width: 700px;

	font-family: "PT Sans", Arial, sans-serif;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;

	list-style: none;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 20px;

	text-align: center;

	border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-image img {
	width: 218px;
	margin-bottom: 12px;
}

.product-name {
	width: 160px;
	margin: 0;
	margin-bottom: 18px;
}

.price-hidden {
	visibility: hidden;
}

/*.catalog-item:hover .actions {
	display: block;
}

.catalog-item:hover .catalog-item-image {
	display: none;
}*/

.catalog .actions {
	display: none;

	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
}

.buy {
	color: #ffffff;

	background-color: #63a63e;	
	box-shadow: inset 0px -3px 0 0 #367315;
}

.buy:hover {
	background-color: #5fbb2d;
}

.buy:active {
	background-color: #518534;
}

.bookmark {
	color: rgb(50, 66, 92);

	border: 3px solid #63a63e;
}

.bookmark:hover {
	border: 3px solid #32425c;
}

.bookmark:active {
	opacity: 0.3;
}

.product-name a {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.price-before {
	margin-bottom: 13px;

	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: #999999;
	text-decoration: line-through;
}

.price-after {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 21px;
	padding: 13px 38px;

	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #ee3643;
}

.item-add {
	border-top: 7px solid #ee3643;
	box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.item-add p {
	font-size: 30px;
	line-height: 30px;
}

.item-add-bottom {
	background-color: #f1f1f1;
}

.checkout-button-main {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.continue-shopping {	
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;

	background: #ffffff;
}

/*Модальные окна*/

.modal {
	display: none;
}