/*Общие стили*/

body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 24px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.main-header {
	background-color: rgb(243, 247, 248);
}

.header-top {
	background-color: rgb(41, 52, 73);
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
}

.company-logo svg {
	background-color: rgb(238, 54, 67);
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search input {
	background-color: rgb(41, 52, 73);
	color: #ffffff;
	border: none;
}

.header-top a {
	color: #ffffff;
}

.checkout-button-header {
	background-color: rgb(99, 166, 62);
}

.main-title {
	font-size: 16px;
	line-height: 23px;
	color: rgb(238, 54, 67);
	font-style: italic;
	font-weight: normal;
}

.header-contacts a {
	color: rgb(238, 54, 67);
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #ffffff;
}

.header-contacts p {
	font-size: 14px;
	line-height: 24px;
	color: rgb(50, 66, 92);
}

.user-block .personal-interface-button {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	background-color: #ffffff;
}

.main-navigation {
	background-color: rgb(50, 66, 92);
}

.site-navigation li {
	border-bottom: 5px solid rgb(41, 52, 73);
}

.site-navigation a {
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
}

/*Главная страница*/

.about-company h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.about-company p {
	font-size: 13px;
	line-height: 24px;
}

.about-company li {
	font-size: 18px;
	line-height: 20px;
}

.main-info-button {
	color: #ffffff;
	background-color: rgb(238, 54, 67);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.contacts h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.contacts p {
	font-size: 13px;
	line-height: 24px;
}

.modal-map img {
  background-color: rgb(86, 86, 86);
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-feedback {
	border-top: 7px solid rgb(255, 83, 87);
}

.modal-feedback label {
	font-size: 18px;
	line-height: 18px;
}

.modal-feedback input,
.modal-feedback textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px
	line-height: 18px;
	color: rgb(169, 169, 169);
}

.feedback .button {
	color: #ffffff;
	background-color: rgb(238, 54, 67);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
}

.main-footer {
	background-color: rgb(50, 66, 92);
}

.footer-top {
	font-size: 18px;
	line-height: 24px;
}

.footer-site-navigation a {
	color: #ffffff;
}

.footer-contacts,
.footer-contacts a {
	color: #ffffff;	
}

.footer-services-navigation a {
	color: rgb(241, 199, 126);
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	background-color: rgb(41, 52, 73);
}

.copyright {
	color: #ffffff;
}

.social-btn a {
	color: #ffffff;
}

.footer-bottom-info {
	color: #ffffff;
}

.footer-bottom-info a {
	color: rgb(241, 199, 126);
}

/*Страница каталога*/

.working-interface a {
	color: rgb(50, 66, 92);
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.user-name-button {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	background-color: #ffffff;
}

.breadcrumbs a {
	color: #000000;
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.page-title {
	font-size: 30px;
	line-height: 30px;
	color: rgb(50, 66, 92);
	background-color: rgb(242, 246, 248);
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 30px;
}

.filter label {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
}

.filter .button {
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
	border: none;
}

.catalog {
	font-family: "PT Sans", Arial, sans-serif;
}

.catalog .actions {
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
	display: none;
}

.actions .buy {
	color: #ffffff;
	box-shadow: inset 0px -3px 0 0 #367315;
  	background-color: #63a63e;
}

.actions .bookmark {
	color: rgb(50, 66, 92);
	border: 3px solid #63a63e;
}

.product-name a {
	color: #000000;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.price-before {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: rgb(153, 153, 153);
}

.price-after {
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
	background-color: rgb(238, 54, 67);
}

.item-add {
	border-top: 7px solid rgb(238, 54, 67);
}

.item-add p {
	font-size: 30px;
	line-height: 30px;
}

.checkout-button-main {
	background: rgb(238, 54, 67);
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.continue-shopping {
	background: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

/*Модальные окна*/

.modal {
	display: none;
}

/*Эффекты при наведении и фокусе*/

.company-logo svg:hover {
	background-color: rgb(202, 44, 55);
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.company-logo svg:active {
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  	background-color: #ba2732;
}

.header-tools:hover,
.header-tools input:hover {
	background-color: rgb(33, 42, 58);
}

.header-tools a:active {
	background-color: rgb(22, 29, 41);
	color: rgb(153, 156, 161);
}

a.checkout-button-header:hover {
	background-color: rgb(95, 187, 45);
}

a.checkout-button-header:active {
	background-color: rgb(81, 133, 52);
	color: rgb(162, 190, 147);
}

.header-tools input:focus {
	background-color: #ffffff;
	outline: none;.
	border: none;
}

.personal-interface-button:hover {
	color: rgb(238, 54, 67);
}

.personal-interface-button:active {
	color: rgb(178, 178, 178);
}

.working-interface a:hover {
	color: rgb(238, 54, 67);
}

.user-name-button:active {
	color: rgb(178, 178, 178);
}

.working-interface a:active {
	color: rgb(178, 178, 178);
}

.site-navigation li:hover {
	background-color: rgb(41, 52, 73);
}

.site-navigation li:active {
	background-color: rgb(29, 39, 57);
	border-bottom-color: rgb(29, 39, 57);
}

.site-navigation a:active {
	color: rgb(142, 147, 156);
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions {
	display: block;
}

.catalog-item:hover .catalog-item-image {
	display: none;
}

.buy:hover {
	background-color: rgb(95, 187, 45);
}

.buy:active {
	background-color: #518534;
}

.bookmark:hover {
	border: 3px solid #32425c;
}

.bookmark:active {
	opacity: 0.3;
}

.footer-site-navigation a:hover,
.footer-services-navigation a:hover {
	text-decoration: underline;
}

.footer-site-navigation a:active,
.footer-services-navigation a:active {
	opacity: 0.5;
	text-decoration: none;
}